@import "button.css";
@import "input.min.css";
@import "item.min.css";
@import "prism.css";

html,
body {
  height: 100%;
  margin: 0px;
  font-size: 14px;
}

textarea {
	background-color: #fffdfa;
}

textarea:hover {
	background-color: #fffdfb;
}
.MainContainer
{
	display: flex;
	flex-direction: column;
	/*border: 1px black dashed;*/
	height: 100vh;
	box-sizing: border-box;
}


.MainContainerSplit /* for DIET output */
{
	display: flex;
	flex-direction: row;
	/*border: 1px black dashed;*/
	height: 100vh;
	box-sizing: border-box;
}

.CodeOne
{
	display: flex;
	flex-grow: 1;
	font-size: 1.1em;
}

.CodeTwo
{
	display: flex;
	flex-grow: 1;
	font-size: 1.1em;
}

.CodeOne ol 
{
	font-size: 1.1em;	
}

.CodeTwo ol 
{
	font-size: 1.1em;	
}

.errorPageContainer
{
	display: flex;
	flex-direction: column;
	font-size: 1.2em;	
}

.errorPageText
{
	align-self: center;
	justify-content: center;
}

.errorPageImg
{
	align-self: center;
}



.SubContainer
{
	display: flex;
	flex-direction: column;
	/*border: 1px black dashed;*/
	height: 100vh;
	box-sizing: border-box;
}

.Header
{
	/*flex-basis: 40px;*/
	height: 40px;
	display: flex;
	flex-direction: row;
	background-color: #241d15;
}

.MyHeader a
{
	/*width: 200px;*/
	/*background-color: #241d15;*/
	color: white;
	font-size: 1.4em;

}


.Middle
{
	display: flex;
	flex-direction: row;
	/*border: 1px black dashed;*/
	flex-grow: 1;
	box-sizing: border-box; 
}

.Footer
{
	align-self: center;
	background-color: #ebe1d3;


}

/* mobile  */
@media (max-width: 1024px)
{
	.LeftSide
	{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	
	.RightSide
	{
		/*display: flex;
		flex-direction: column;*/
		display: none;
	}

	.RightTop
	{
		background-color: #241d15;
	}

	.MinorButtons
	{
		display: none;
	}
	
}

/* desktop */
@media (min-width: 1024px) {

	.LeftSide
	{
		/*border: 1px black dashed;*/
		flex-grow: 0.9;
		display: flex;
		flex-direction: column;
	}
	
	.RightSide
	{
		display: flex;
		flex-direction: column;
		flex-grow: 0.1;
		margin-top: -15px;
		margin-right: 5px;
	}

	.RightTop
	{
		/*border: 1px black dashed;*/
		height: 15px;
		background-color: #241d15;
		color: white;
		text-align: center;
	}
	.RightDown
	{
	/*	padding-right: 5px;
		padding-left: 5px;*/
	}


	
}

.CodeBlockContainer
{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.CodeBlockContainerOne
{
	display: flex;
	flex-direction: column;
	/*border: 1px black dashed;*/
	flex-grow: 1;
}

.CodeBlockContainerTwo
{
	display: flex;
	flex-direction: column;
	/*border: 1px black dashed;*/
	flex-grow: 1;
}

.CodeBlock
{
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	box-sizing: border-box; 
}

.CodeBlockView
{
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

textarea
{
  font-size: 15px;
  width: 100%;
  resize: none;
}

.BottomButtons
{
	flex-grow: 0.05;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: row;
	background-color: #241d15;
	padding-left: 5px;
	padding-right: 5px;
}

.LngList
{
	display: flex;
	/*flex-direction: column;*/
	flex-grow: 0.8;
	justify-content: left;
	align-items: center;

}

.lng
{
	padding-left: 10px;
	padding-right: 10px;
}

.SendItem
{
	flex-grow: 0.1;
	display: flex;
	justify-content: left;
	align-items: center;
}


.LastPastsLinkStyle
{
	text-decoration: none;
	color: black;
}


.ViewCodeContainer
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.ViewCode
{
	flex-grow: 1;
}

code {
  display: block;
  white-space: pre-wrap;
}


}
